/*!
 * 	Theme Variables
 * ----------------------------------------------- */

:root {
    --body-font-family: "Poppins", sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-font-color: #505d68;
    --body-line-height: 1.45;
    --heading-font-family: "Poppins", sans-serif;
    --heading-font-color: #222426;
    --heading-font-weight: 700;
    --link-font-color: #222426;
    --link-hover-font-color: #ffb424;
    --button-font-size: 14px;
    --button-font-weeight: 600;
    --white-color: #fff;
    /* Digixtial */
    --btn-color: #000000;
    --brand-color-1: #8E24AA;
    --brand-color-2: #D0006F;
    --brand-bg-color: #F3F2FB;
    --brand-gradient: linear-gradient(to right, #D0006F, #8E24AA);
    --mesh-gradient: linear-gradient(to right, #FF7BCA, #FFC56F)
}

.bg--color {
    background-color: var(--brand-bg-color);
}

/*!
 *	Common
 * ----------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dot {
    height: 500px;
    width: 500px;
    background-image: var(--mesh-gradient);
    border-radius: 50%;
    display: inline-block;
    filter: blur(80px);
}

img {
    max-width: 100%
}

a {
    color: var(--link-font-color);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: var(--white-color);
}


img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}


#wrapper {
    overflow: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--heading-font-family);
    color: var(--heading-font-color);
    font-weight: var(--heading-font-weight);
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.25;
}


.section {
    padding-top: 70px;
    padding-bottom: 70px;
}


/*!
 *	Spacing
 * ----------------------------------------------- */

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.ml-100 {
    margin-left: 100px;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: #222426 !important;
}

.text-yellow {
    color: #ffb424 !important;
}

.text-center {
    text-align: center !important;
}


/*!
 *	Grid System
 * ----------------------------------------------- */

.wrap,
.wrap-fuild {
    width: 100%;
}

.wrap *,
.wrap-fuild * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.col-1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
}

.col-2 {
    max-width: 16.66666667%;
    flex: 0 0 16.66666667%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.33333333%;
    flex: 0 0 33.33333333%;
}

.col-5 {
    max-width: 41.66666667%;
    flex: 0 0 41.66666667%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.33333333%;
    flex: 0 0 58.33333333%;
}

.col-8 {
    max-width: 66.66666667%;
    flex: 0 0 66.66666667%;
}

.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.33333333%;
    flex: 0 0 83.33333333%;
}

.col-11 {
    max-width: 91.66666667%;
    flex: 0 0 91.66666667%;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

.no-guttor {
    margin-right: 0;
    margin-left: 0;
}

.no-guttor>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.flex-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.align-center {
    -ms-align-items: center;
    align-items: center;
}

.text-color {
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*!
 *	Form Styling
 * ----------------------------------------------- */

.btn {
    height: 50px;
    padding: 0 25px;
    color: #fff;
    background-image: var(--brand-gradient);
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    z-index: 55;
}

.btn:hover {
    box-shadow: none;
    color: white;
}

.btn--input {
    margin-left: 156px;
    background-color: #5355df !important;
    height: 58px !important;
    padding: 0 25px !important;
    color: #fff !important;
    border: none;
    width: 100%;
    transition: .5s;

}

.hero_btn:hover img {
    transform: rotate(45deg);
    transition: .5s;
}


.btn--input span,
.btn__last span {
    color: var(--brand-gradient);
}


.btn--input:hover {
    box-shadow: 0 20px 40px 0 rgba(83, 85, 223, .4);

}

.btn--input span i {
    padding-left: 13px;
}

.btn--choose {
    margin-left: 0;
    width: 200px;
}

.btn:focus {
    outline: none;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--yellow {
    background-color: #ffb424;
    color: #222426;
}
.btn__contact{
    width: 100%;
    font-size: 20px !important;
    font-weight: 700 !important;
}
.btn--yellow:hover {
    background-color: #e69f16;
    color: #222426;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid #707070;
    height: 44px;
    padding: 8px 16px;
    background-color: #fff;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
}

.form-control:focus {
    border-color: #1a1a1a;
    outline: none;
}

textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}


/*!
 *	Header
 * ----------------------------------------------- */

.site-header {
    width: 100%;
}

.navbar__content {
    display: flex;
}

.header--wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.navbar__manu {
    display: flex;
    align-items: center;
}

.navbar__content {

    justify-content: space-between;
    align-items: center;
    line-height: 86px;
}

.navbar__manu ul {
    padding: 0;
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.navbar__manu ul li {
    margin-right: 43px;
}

.navbar__manu ul li:last-child {
    margin-right: 0px;
}

.navbar__manu ul li a {
    padding: 30px 0;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #0f0e0e;
    z-index: 1;
}

.navbar__manu ul li a::before {
    content: "";
    -webkit-margin-end: 12px;
    margin-inline-end: 12px;
    display: inline-block;
    transition: all .3s ease-out 0s;
    width: 6px;
    height: 6px;
    top: 50.76px;
    background: #5355df;
    position: absolute;
    top: 50%;
    inset-inline-start: -12px;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
}

.navbar__manu ul li a:hover a::before {
    opacity: 1;
}

.navbar__manu ul li a i,
.lang__btn span i {
    font-size: 12px;
    margin-left: 4px;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header__btn ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.icon__wrap {
    margin: -5px 8px 0 0;
}

.icon__wrap img {
    color: transparent;
    width: 16px;
    height: 16px;
}

.btn__last {
    text-align: end;
}

.lang__btn span {
    color: #0f0e0e;
}

.lang__btn {
    cursor: pointer;
}

.bd_btn_link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    /* background-color: var(--brand-color-2); */
    line-height: 1;
    height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    color: #fff;
    border-radius: 15px;
    z-index: 55;
}

.bd_button_content_wrapper {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    align-items: center;
    transform: translateY(-1px);
}

.header_btn {
    background-image: var(--brand-gradient);
}

.hero_btn {
    padding: 0;
    font-weight: 400;
    box-shadow: none;
}

.bd_button_icon {
    flex-grow: 0;
    order: 5;
}

.bd_button_icon img {
    color: #fff;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
    transition: opacity .6s, transform .8s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}



.bd_btn_link .bd_btn_anim_wrapp,
.bd_btn_link .bd_btn_anim_wrapp .bd_button_text {
    letter-spacing: 1px;
    transition: opacity .6s, transform .8s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}

.bd_btn_link:hover .bd_button_text:first-child {
    opacity: 0;

}

.bd_btn_anim_wrapp .bd_button_text:nth-child(2) {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    opacity: 0;
}



.bd_btn_link:hover .bd_btn_anim_wrapp .bd_button_text:nth-child(2) {
    transform: translate(-50%, 100%);
    opacity: 1;
}




.bd_btn_link:hover .bd_btn_anim_wrapp {
    transform: translateY(-150%);
}

.bd_btn_link:hover .bd_button_icon img {
    color: #fff;
    transform: rotate(0deg);
}

.bd_btn_anim_wrapp {
    display: inline-block;
    order: 10;
}

.bd_button_text {
    color: #fff;
    font-weight: 500;
}

/*!
 *	Hero
 * ----------------------------------------------- */


.section-hero {
    position: relative;

}

.hero__content h1 {

    font-size: 73px;
    margin-bottom: 30px;
    line-height: 1.12;
    font-weight: 700;
    color: #0f0e0e;
}

.hero__content h1 span {
    display: inline-block;
    background-image: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}


.hero__content p {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    color: #5d636a;
    line-height: 1.65;
    line-height: 27px;
    margin-bottom: 50px;
}

img.whychooseusimage {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes spin2 {
    100% {
        transform: rotate(1turn);
    }
}

.decoration_wrap {
    z-index: 1;
    position: relative;
}

.starter_steps_group>ul {
    position: relative;
    -webkit-margin-end: 70px;
    margin-inline-end: 70px;
}

.unordered_list {
    justify-content: flex-start;
}

.unordered_list,
.unordered_list_center,
.unordered_list_end {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.starter_steps_group>ul>li:first-child {
    top: -519px;
    right: -101px;
}

.starter_steps_group>ul>li {
    z-index: 1;
    position: absolute;
}

.starter_steps_group>ul>li:nth-child(2) {
    top: -246px;
    left: -36px;
    transform: translateY(-50%);
}

.unordered_list>li {
    /* float: left; */
    list-style: none;
    display: inline-block;
}

.starter_steps_group .content_wrap {
    width: 230px;
    height: 230px;
    display: flex;
    padding: 30px 60px;
    text-align: center;
    border-radius: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #D0006F;
}

.starter_steps_group .item_icon {
    width: 60px;
    height: 60px;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
}

.starter_steps_group .item_title {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    color: #000;
}

.starter_steps_group>ul>li:nth-child(3) {
    inset-inline-end: 0;
    top: -203px;
    right: -30px;
}

/* .starter_steps_group .shape_1 {
    width: 68%;
  } */
.starter_steps_group .shape_1,
.starter_steps_group .shape_2 {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* .about_us_section_wcu .shape_1 {
    width: 100%;
  } */
.decoration_wrap .deco_item {
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
    top: -272px;
    left: 280px;
    width: 300px;

}

.starter_steps_group .shape_1 img {
    animation: spin2 20s linear infinite;
}

.starter_steps_group .shape_2 {
    max-width: 260px;

}

.about_us_section_wcu {
    --tw-bg-opacity: 1;
    padding: 40px;

}

/*!
 *	about us 
 * ----------------------------------------------- */
.section--about .row {
    align-items: center;

}

.about__content {
    padding-right: 33px;
}

.about__content h2,
.work__content h2,
.solutions__content h2 {
    font-size: 40px;
    line-height: 75px;
    margin-bottom: 0;
    font-weight: 700;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.about__content p {
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 400;
}

.about__btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*!
 *	Work
 * ----------------------------------------------- */
.work__content h2 {
    font-size: 48px;
    line-height: 72px;
}

.box__content h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 4px;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.box__content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    margin-top: 0;
    max-width: 182px;
}

.box__content img {
    margin-left: -10px;

}

.box__content {
    position: relative;
}

.box__content::before {
    content: "";
    position: absolute;
    border-bottom: 5px dashed #000000;
    width: 185px;
    right: 52px;
    top: 38px;
}

.box__letast::before {
    border: none;
}

/*!
 *	Technologies
 * ----------------------------------------------- */

.activetab {
    color: var(--brand-color-2) !important;
}

/* .section--technologies .row{
    border: 1px solid #5d636a47;
    border-radius: 20px;
} */
.tech__head .row {
    border: none;
    padding: 0;
}

.tech__contant h3 {
    font-size: 30px;

    margin-bottom: 40px;
    font-weight: 600;
}

/* .tech__contant h3 span { */
/* background-image: var(--brand-gradient); */
/* -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; */
/* } */

.tab__btn {
    display: flex;
    flex-direction: column;
}

.tabs__button {
    padding: 0 20px 18px;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;


}

.tach__block img {
    width: 100px;
    height: 100px;
}

.tabs__button a {
    position: absolute;
    width: 100%;
    padding-bottom: 15px;
    color: #252b33;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #5d636a47;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tabs__button a:focus {
    color: var(--brand-color-2);
    /* -webkit-text-fill-color: transparent; */
}


.tach__block {
    margin-bottom: 20px;

}

.tach__block h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #252b33;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
}

.tech__head .row {
    justify-content: center;
}

.tech__head {
    display: none;
}


/* Letter changing Animation For hero Section */

#spin:after {
    content: "";
    animation: spin 8s linear infinite;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes spin {
    0% {
        animation: FadeIn;
        content: "Build Software";
    }

    50% {
        content: "Test Software";
    }

    100% {
        content: "Craft Software";
    }
}

/*!
 *	services
 * ----------------------------------------------- */
.section--services .row {
    justify-content: space-between;

}

.services__content h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 96px;
    text-align: center;
}

.swiper-slide {
    background-color: #FFFFFF;
    padding: 20px 7px 15px 22px;
}

.services_slider {
    background-color: #fff;
    box-shadow: 20px 20px 60px #bebebea8,
        -20px -20px 60px #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 16px;
    width: 300px;
    padding: 70px 30px 70px;
    border: 1px solid transparent;
    transition: all 800ms cubic-bezier(.2, .8, .2, 1) 0s;
}

.services__box h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #000000;
    margin-bottom: 0;
}

.services__block {
    margin-bottom: 25px;
}

.services__box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    margin-top: 0;
}

.services_slider:hover .services__box a:hover:before, .industries__sub_title a:hover:before  {
    width: 100%;
    opacity: 1;
}

.services__box a {
    position: relative;
    font-size: 16px;
    color: #D0006F;
    border-bottom: 1px solid transparent;
}

.services__box a::before, .industries__sub_title a::before {
    content: "";
    position: absolute;
    width: 0;
    opacity: 0;
    transition: .5s;
    left: 0;
    height: 1px;
    bottom: -6px;
    border-bottom: 2px solid #D0006F;
}

.services__main {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.services_slider:hover {
    background-color: #cab1ff5c;
    border: 1px solid #cab1ff;
}

.services_slider:hover:nth-child(2) {
    background-color: #fdcd6061;
    border: 1px solid #fdcd60;
}

.services_slider:hover:nth-child(3) {
    background-color: #50be6054;
    border: 1px solid #50be61;
}

.services_slider:hover:nth-child(4) {
    background-color: #83a6ff5e;
    border: 1px solid #83A6FF;
}

.services_slider:hover:nth-child(5) {
    background-color: #ff6b004a;
    border: 1px solid #FF6B00;
}

/*!
 *	solutions
 * ----------------------------------------------- */

.solutions__content h2 {
    font-size: 40px;
    line-height: 75px;
    margin-bottom: 0;
    text-align: center;
}

.product__item {
    background-color: #F3F2FB;
    padding-top: 45px;
    padding-bottom: 45px;

}

.product__item .row {
    justify-content: center;

}

.product__box {
    background-color: #FFFFFF;
    border-radius: 0px 100px 0px 40px;
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
}

.box__heading h4 {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 53px;
    margin-left: 8px;
    font-weight: 500;

}

.box__icon {
    margin-left: 10px;
}

.product__build h3 {
    font-size: 35px;
}

.product__build p {
    max-width: 300px;
    line-height: 24px;
}

.product__build .email__span {
    display: block;
    color: #000;
    margin-top: 10px;
}

.product__block {
    margin-bottom: 15px;
}


/*!
 *	quality
 * ----------------------------------------------- */

.quality__content h2 {
    font-size: 60px;
    font-weight: 700;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section--quality .row {
    justify-content: center;
    align-items: center;
}

.quality__sub p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.choose__box .row {
    align-items: center;

}

.flexible__box,
.client__box {
    background-color: #8E24AA;
    height: 412px;
    border-radius: 50px;
    margin-right: 41px;
    position: relative;

}

.flexible__box h2 {
    margin-bottom: 0;
    padding-top: 150px;
    padding-left: 23px;
    padding-right: 16px;
    color: #FFFFFF;
    font-size: 60px !important;
}

.choose__box h2 {
    font-size: 65px;
}

.flexible-2 {
    background-color: #5200FF;

}

.flexible-2 h2 {
    padding-top: 218px;


}

.flexible-1::after,
.flexible-2::before,
.highly__box::after,
.timely__box::before,
.client__box::before {
    content: "";
    position: absolute;
}

.flexible-1::after {
    top: 25px;
    right: 47px;
    height: 212px;
    width: 214px;
    background-image: url(../choose_images/Group.svg);
}

.flexible-2::before {
    top: 42px;
    right: 39px;
    height: 169px;
    width: 168.44px;
    background-image: url(../choose_images/Group23.svg);
}

.highly__box,
.timely__box,
.client__box {
    width: 835px;
    height: 385px;
    background-color: #FFB100;
    border-radius: 35px;
    padding: 20px;
    position: relative;
}

.highly__box::after {
    background-image: url(../choose_images/Group22.svg);
    Width: 387px;
    Height: 354.75px;
    top: 13px;
    right: 33px;
}

.highly__box h2,
.timely__box h2,
.client__box h2 {
    color: #fff;
    padding-top: 100px;
}

.timely__box h2 {
    padding-top: 170px;
}

.timely__box {
    width: 408px;
    background-color: #D0006F;
    margin-left: 20px;

}

.timely__box::before {
    background-image: url(/choose_images/Vector.svg);
    width: 278px;
    height: 278px;
    right: 2px;
    top: 83px;
}

.client__box::before {
    background-image: url(/choose_images/Vector1.svg);
    width: 251px;
    height: 227px;
    right: 5px;
    top: 122px;
}

.client__box {
    width: 408px;
    height: 385px;
    background-color: #8E24AA
}

.client__box h2 {
    padding-top: 180px;
}

.explor__botton {
    border: 5px solid var(--brand-color-2);
    width: 170px;
    height: 171px;
    border-radius: 50%;
    position: relative;
}

.explor__botton img {
    position: absolute;
    top: 28%;
    left: 47px;
    transition: .5s;
}

.explor__botton:hover img {
    transform: rotate(-45deg);
}


/* CTA section */

.section--cta {
    overflow: hidden;
    background-image: var(--brand-gradient);
}

.cta__content {
    position: relative;
}

.cta__content h2 {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}

.cta__content p {
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.btn--cta {
    background-color: var(--btn-color);
    border-radius: 50px;
    font-size: 20px;
}

.cta__content::before {
    content: "";
    position: absolute;
    background-image: url(../cta_image/Group19.svg);
    width: 441px;
    height: 652px;
    background-repeat: no-repeat;
    right: -243px;
    top: -165px;
}

/* Footer */

.site-footer {
    padding: 100px 0;
}

.footer__content,
.contact__number,
.main__development {
    display: flex;
    justify-content: space-around;

}

.contact__number {
    justify-content: left;
}

.main__development {

    width: 35%;
}

.Company__info {
    width: 17%;
}

.company__page {
    width: 11%;
}

.design__page {
    width: 14%;
}

.footer__content ul {
    padding: 0;
    list-style: none;

}

.footer__content li {
    line-height: 24px;
    margin-bottom: 12px;
}

.footer__content li a:hover {
    color: var(--brand-color-2);
}

.Company__info h5,
.contact_number {
    font-family: "Jost", sans-serif;
    font-size: 20px;

}

hr {
    margin: 0;
    padding: 0;
}

.contact_number {
    letter-spacing: 1px;
}

.Company__info h3 {
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 17px;
}

.contact__number img {
    width: 35px;
    height: 35px;
}

.development__page2 ul {
    margin-top: 37px;

}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    margin-top: 2px;
}

.copyright p a {
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




/* ABOUT PAGE STARTING */
.section_about_hero {
    height: 100vh;

}

.about_hero__contant h4 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 36px;
}

.about_hero__contant h2 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 72px;
    max-width: 1200px;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.about_hero__contant p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 0;
    max-width: 986px;
}

/* .section--meet{
    background-image: url(../about_images/christina-wocintechchatsvg.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */

.section--meet {
    background-image: url(../about_images/christina-wocintechchatsvg.svg);
    /* height: 100vh; */
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo__page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.offer__content {
    margin-bottom: 70px;
}

.offer__content h2 {
    font-size: 64px;
    color: #000000;
    line-height: 96px;
    margin-bottom: 0;
}

.offer__content p {
    font-size: 30px;
    color: #000000;
    line-height: 43px;
    font-weight: 300;
    max-width: 1291px;
    margin-top: 0;
}

.offer__box h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 0;
}

.offer__box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-top: 8px;
    max-width: 331px;

}

.bg--color {
    background-color: #F9F9F9;
}

.bg--color .row {
    align-items: center;
}

.content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 0;
}

.content h2 span {
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.content p {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    max-width: 703px;
    margin-top: 0;
}

.section--mission .row {
    justify-content: space-between;

}

.values__content {
    margin-top: 50px;
}

.values__content h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    background-image: var(--brand-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.values__box {
    background-color: #fff;
    border-radius: 50px;
    padding: 21px;
    width: 288px;
    height: 279px;
    border: 1px solid transparent;
    box-shadow: 20px 20px 60px #bebebea8, -20px -20px 60px #ffffff;
    transition: all 800ms cubic-bezier(.2, .8, .2, 1) 0s;
}

.values__box:hover {
    background-color: #d0006f18;
    border: 1px solid #D0006F;
}

.values__box:hover:nth-child(2) {
    background-color: #fdcd6061;
    border: 1px solid #fdcd60;
}

.values__box:hover:nth-child(3) {
    background-color: #cab1ff5c;
    border: 1px solid #cab1ff;
}

.values__box:hover:nth-child(4) {
    background-color: #cab1ff5c;
    border: 1px solid #cab1ff;
}

.values__box h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 0;
}

.values__box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
}

.color-1 {
    color: #D0006F;
}

.color-2 {
    color: #8E24AA;
}

.color-3 {
    color: #50BE61;
}

.color-4 {
    color: #5546CB;
}



.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.about_hero__content {
    text-align: center;
    /* Optional: to center the text horizontally */
}

.section--contact_info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section--contact_info .row {
    justify-content: center;

}

.contact__content h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}

.number__content,
.address__content {
    background-color: #fff;
    box-shadow: 0px 0px 60px #bebebea8, 0px 0px 60px #ffffff;
    ;
    border-radius: 30px;
    padding: 20px;
}

.number__content h4 {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 20px;
}

.number__content h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.address__content {
    text-align: start;
    padding: 30px;

}

.address__content h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 0;

}

.address__content p {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;

}

.section--contact h2 {
    max-width: 100%;
}

.address__content span {
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;

}

.number__content {
    display: flex;
    justify-content: center;
}

.number__content img {
    margin-right: 20px;
}

.section--contact_form {
    background-color: #F3F2FB;
}

.section--contact_form .row {
    justify-content: space-around;
}

.contact_form_title h2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.5px;
    background: linear-gradient(90deg, #D0006F 0%, #8E24AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name__form,
.info__name,
.email__name,
.message__name {
    display: flex;
    justify-content: center;

}

.info__name,
.email__name,
.message__name {
    flex-direction: column;
    margin-right: 31px;
    width: 100%;
    margin-bottom: 30px;
}

.info__name:last-child {
    margin-right: 0px;
}

.info__name input,
.email__name input,
.message__name textarea {
    border: 1px solid #D0D5DD;
    outline: none;
    padding: 12px 16px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.info__name label,
.email__name label, .message__name label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.email__name {
    margin-right: 0;
}
.message__name textarea{
    height: 128px;
}

.work__with h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 96px;
        line-height: 101px;
}

.section--work_info, .section--mail{
    background-color: #F3F2FB;
    border-radius: 100px 0px 100px 0px;
}
.section--work_info p{
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(90deg, #D0006F 0%, #8E24AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section--work-box{
    padding-top: 25px;
}
.section--work-box h2{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
}
.work__contant h2{
    font-size: 64px;
    font-weight: 700;
    background: linear-gradient(90deg, #D0006F 0%, #8E24AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.work__contant p{
    line-height: 42px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: justify;
    max-width: 663px;
   
}
.section--mail{
    border-radius: 0;
    text-align: center;
    padding-top: 124px;
    padding-bottom: 124px;
}
.section--mail h2{
   font-size: 48px;
   font-weight: 700;
   background: linear-gradient(90deg, #D0006F 0%, #8E24AA 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.section--mail h4{
   font-size: 36px;
   font-weight: 400;
  
}


.column {
    width: 490px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    margin-bottom: 30px;

}
.industries__heading h2 {
    font-size: 38px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0;
    margin-left: 10px;
}
.industries__sub_title  p{
    font-size: 20px;
    color: #4E4E4E;
    font-weight: 400;
    line-height: 33px;
}
.industries__sub_title a{
    font-size: 20px;
    font-weight: 700;
    color: #D0006F;
    position: relative;
}

.industries__contant{
    display: flex;
    align-items: center;
}
.industries__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule__contant{
    text-align: center;
}
.schedule__contant h2{
   font-size: 48px;
   font-weight: 700;
   background: linear-gradient(90deg, #D0006F 0%, #8E24AA 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.schedule__contant .schedule__mail{
    display: block;
    margin-top: 10px;
}
.btn__schedule{
    border-radius: 50px;
}

.section--schedule{
    background-color: #F3F2FB;
}